---
import Navbar from "../../components/navbar.astro";
import Footer from "../../components/Footer.astro";
---

<Navbar />
<main class="author">
  <h1>duolb Redaktion</h1>
  <p>
    Schönheitsblog rund um Hautpflege, Trends und ehrliche Produktempfehlungen.
  </p>
</main>
<Footer />
