---
import Navbar from '../../components/Navbar.astro';
import Footer from '../../components/Footer.astro';
---

<Navbar />
<main class="author">
  <h1>duolb Redaktion</h1>
  <p>Beauty Blog rund um Hautpflege, Trends und ehrliche Produktempfehlungen.</p>
</main>
<Footer />
